<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="onct">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>new S tyle</title>
	<style type="text/css">
	<!--
	body {
	background-color:#f0f0f0;
	}
	-->
	</style>
</head>

<body>
 <header>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">new S tyle</a>
        </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class=“active”><a href="">ホーム</a></li>
              <li><a href="#">政治</a></li>
              <li><a href="#">経済</a></li>
              <li><a href="#">スポーツ</a></li>
              <li><a href="#">エンタメ</a></li>
              <li><a href="#">海外</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">その他</a></li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
 </header>
 <div id="page">
  <div id="pageMain">
   <div class="tron">
    <article>
     <section>
       <h2 class="heading-typeA">「雇用奪われた」「何か隠してる」　米大統領候補が対決</h2>
<h5>　米大統領候補の民主党クリントン前国務長官（６８）と共和党トランプ氏（７０）による初のテレビ討論会が２６日夜（日本時間２７日午前）、ニューヨーク州のホフストラ大学で行われた。経済や外交・安全保障問題で激しく応酬したほか、互いの印象悪化を狙って非難しあう展開となった。<br>
<br>
　両候補が同一会場で討論するのは初めて。「繁栄の達成」「米国の先行き」「米国の安全」の３テーマで３０分ずつ議論した。<br>
<br>
　経済・雇用問題では、クリントン氏がトランプ氏の主張する法人減税は経済を停滞させると指摘し、「誰が、国民の生活を向上させる計画を実行に移すという、大統領の重大な責務を担えるのか」と訴えた。<br>
<br>
　一方、トランプ氏は、米国が自由貿易を推進したことで米国企業が海外に流れ、米国民の雇用が奪われたと主張。クリントン氏が長く公職にありながら対策を打たなかったとし、現在反対している環太平洋経済連携協定（ＴＰＰ）を国務長官時代は「黄金の基準」と推進していたと批判し、大統領に当選したら再び態度を変えると指摘した。<br>
<br>
　討論会では、日米関係も争点に浮上した。トランプ氏が「我々は『世界の警察官』ではいられない。我々が必要とする（経費を）払わない世界中の国全てを守ることができない」と述べ、「我々は日本を防衛している。（同盟国が）応分の負担をしなければ、日本を守ることができない」として在日米軍駐留経費の負担増を主張した。<br>
<br>
　これに対し、クリントン氏は「日本や韓国や他の相互防衛協定を結んでいる国々との同盟を再確認し、高く評価したい」と語った。<br>
<br>
　対テロ対策では、トランプ氏が「オバマ大統領とクリントン氏が（中東に）真空を作った」と述べ、過激派組織「イスラム国」（ＩＳ）の台頭を許したと批判。クリントン氏は、ＩＳ掃討について「トランプ氏は具体的な計画を持ち合わせていない」と反論。トランプ氏がロシアのプーチン大統領を称賛している発言に触れて、「（米国の）最高司令官として不適格だ」と切り捨てた。<br>
<br>
　一方、クリントン氏は、近年の大統領候補が行ってきた納税申告書の公開をトランプ氏が拒んでいる点について「何かを隠している」と批判。これに対し、トランプ氏は、クリントン氏が国務長官時代に公務で私用メールアドレスを使った問題を追及。互いの「欠点」を批判しあう場面も目立った。<br>
<br>
　各種世論調査では、両候補はほぼ互角で、今回の討論会がどう影響するかが注目される。大統領討論会は計３回予定されており、次回は１０月９日にミズーリ州で行われる。</h5>
     </section>
    </article>
   </div>
  </div>

  <div id="pageSub">
   <div id="sidebar">
    <div class ="list-group">
     <section>
      <h4 class="heading-typeB">人気</h4>
      <li><a href="#title">＜御嶽山噴火２年＞追悼式　遺族、地元住民ら参列</a></li>
      <li><a href="#title">ミニバイク少年が娯楽施設内を走行　建造物侵入容疑で捜査　戸部署</a></li>
      <li><a href="#title"> 「新選組」斎藤一の肖像写真発見　当時最強の剣士の一人</a></li>
      <li><a href="#title"> 被災地の秋サケ　試練の初水揚げ</a></li>
      <li><a href="#title"> イチロー、代打で左前打　事故死のエースを弔う一打＆勝利</a></li> 
     </section>

     <section>
      <h4 class="heading-typeB">おすすめ</h4>
      <li><a href="#title">イチロー、代打で左前打　事故死のエースを弔う一打＆勝利</a></li>
      <li><a href="#title">あまりにも悲しい日　フェルナンデス投手を悼む</a></li>
      <li><a href="#title">ラミレス監督　番長にも非情采配予告…先発予定29日ヤクルト戦は勝利最優先</a></li>
      <li><a href="#title">岸、メジャー移籍も「なくはない」　２７日は西武最後のマウンドか</a></li>
      <li><a href="#title">日ハム、大逆転の4年ぶりリーグVへ王手　ついにマジック1、27日にも優勝</a></li> 
     </section>
    </div>
   </div>
  </div>
 </div>
 <footer>
   
 </footer>
</body>
</html>
