<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="onct">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>new S tyle</title>
	<style type="text/css">
	<!--
	body {
	background-color:#f0f0f0;
	}
	-->
	</style>
</head>

<body>
 <header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">new S tyle</a>
        </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class=“active”><a href="">ホーム</a></li>
              <li><a href="#">政治</a></li>
              <li><a href="#">経済</a></li>
              <li><a href="#">スポーツ</a></li>
              <li><a href="#">エンタメ</a></li>
              <li><a href="#">海外</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">その他</a></li>

              <form class="navbar-form navbar-right">
              <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
               </div>
              <button type="submit" class="btn btn-default ">Search</button>
              </form>
             
          </div>
        </div>
      </nav>
  </div>
 </header>
 <div id="page">
  <div id="pageMain">
   <div class="tron">
    <article>
     <section>
       <h2 class="heading-typeA">「雇用奪われた」「何か隠してる」　米大統領候補が対決</h2>
　米大統領候補の民主党クリントン前国務長官（６８）と共和党トランプ氏（７０）による初のテレビ討論会が２６日夜（日本時間２７日午前）、ニューヨーク州のホフストラ大学で行われた。経済や外交・安全保障問題で激しく応酬したほか、互いの印象悪化を狙って非難しあう展開となった。
       <p><button><a href="#title">全文表示>></a></button></p>
<br></br>
       <h2 class="heading-typeA">安倍首相、北方領土視察「検討」　鶴保沖北相に考え示す</h2>
　鶴保庸介沖縄北方担当相は２７日の記者会見で、安倍晋三首相が北海道根室市から対岸の北方領土を視察することを検討する考えを示したと明らかにした。
       <p><button><a href="#title">全文表示>></a></button></p>
<br></br>
       <h2 class="heading-typeA">東京五輪期間中「平日を休日に」…組織委要求へ</h2>
　２０２０年東京五輪・パラリンピック大会組織委員会会長の森喜朗元首相が２６日、ＢＳ日テレの「深層ＮＥＷＳ」に出演し、都内の幹線道路を封鎖して競技を行う平日を「休日」とする特別措置法の制定を、与野党に求める考えを明らかにした。
       <p><button><a href="#title">全文表示>></a></button></p>
<br></br>
       <h2 class="heading-typeA">男子高校生にわいせつ行為　岡山・津山市の中学講師逮捕</h2>
　男子高校生にわいせつな行為をしたとして、津山署は27日、強制わいせつの疑いで、津山市の中学校講師の男（35）を逮捕した。
       <p><button><a href="#title">全文表示>></a></button></p>
<br></br>

     </section>
    </article>
   </div>
  </div>

  <div id="pageSub">
   <div id="sidebar">
    <div class ="list-group">
     <section>
      <h4 class="heading-typeB">人気</h4>
      <li><a href="#title">＜御嶽山噴火２年＞追悼式　遺族、地元住民ら参列</a></li>
      <li><a href="#title">ミニバイク少年が娯楽施設内を走行　建造物侵入容疑で捜査　戸部署</a></li>
      <li><a href="#title"> 「新選組」斎藤一の肖像写真発見　当時最強の剣士の一人</a></li>
      <li><a href="#title"> 被災地の秋サケ　試練の初水揚げ</a></li>
      <li><a href="#title"> イチロー、代打で左前打　事故死のエースを弔う一打＆勝利</a></li> 
     </section>

     <section>
      <h4 class="heading-typeB">おすすめ</h4>
      <li><a href="#title">イチロー、代打で左前打　事故死のエースを弔う一打＆勝利</a></li>
      <li><a href="#title">あまりにも悲しい日　フェルナンデス投手を悼む</a></li>
      <li><a href="#title">ラミレス監督　番長にも非情采配予告…先発予定29日ヤクルト戦は勝利最優先</a></li>
      <li><a href="#title">岸、メジャー移籍も「なくはない」　２７日は西武最後のマウンドか</a></li>
      <li><a href="#title">日ハム、大逆転の4年ぶりリーグVへ王手　ついにマジック1、27日にも優勝</a></li> 
     </section>
    </div>
   </div>
  </div>
 </div>
 <footer>
   
 </footer>
</body>
</html>
