<section class="articles">
  <!-- start of article -->
  <article>
    <div class="article-title">
      <div class="page-header">
        <h3><%= @content.title %></h3>
        <span><%= @content.author %></span>
      </div>
    </div>
    <div class="article-body">
      <%= simple_format(@content.summary) =%>
      <%= link_to '詳しくみる',@content.url,{:class => "btn btn-default"}  %>

    </div>
  </article>
  
  <!-- end of articles -->
</section>

<section class="related-article">

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>ドル100円後半でしっかり、米大統領候補討論会通過で安心感</h3>
          <p>きょうは米大統領選の候補者であるクリントン氏とトランプ氏が直接対決するテレビ討論会が行われた。
          </p>
          <span class="label label-success">肯定</span>
        </div>
      </div>
    </div>
    
</section>



