<section>
  <h4>おすすめ</h4>
  <ul>
    <li><a href="#title">イチロー、代打で左前打　事故死のエースを弔う一打＆勝利</a></li>
    <li><a href="#title">あまりにも悲しい日　フェルナンデス投手を悼む</a></li>
    <li><a href="#title">ラミレス監督　番長にも非情采配予告…先発予定29日ヤクルト戦は勝利最優先</a></li>
    <li><a href="#title">岸、メジャー移籍も「なくはない」　２７日は西武最後のマウンドか</a></li>
    <li><a href="#title">日ハム、大逆転の4年ぶりリーグVへ王手　ついにマジック1、27日にも優勝</a></li>
  </ul> 
</section>

